@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;900&display=swap');

*{
	margin:0;
	padding:0;
	outline:0;
}
a, a:hover{
	list-style-type: none;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, ul, ol, button, input, p{
	margin:0;
	padding:0;
}
body{
	font-size: 17px;
}
.item-menu{
	text-align: center;
	margin: 30px auto;
}
.item-menu ul li{
	list-style: none;
	padding: 12px 15px;
	display: inline-block;
	border: 1px solid tomato;
	cursor: pointer;
	margin-right:10px;
	border-radius: 5px;
}
.item-menu ul li:hover, .item-menu ul li:active{
	background:tomato;
	color: #fff;
}
.item-details{
	width: 100%;
}
.item-details img{
	width: 100%;
	margin-bottom: 30px;
}
.item-details img:hover{
	cursor: pointer;
	background:tomato;
}
.grid-item--width2 { width: 50%; height: 400px; }
.grid-item--height2 {  width: 25%;height: 200px; }