@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;900&display=swap');

*{
	margin:0;
	padding:0;
	outline:0;
}
a, a:hover{
	list-style-type: none;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, ul, ol, button, input, p{
	margin:0;
	padding:0;
}
body{
	font-size: 17px;
}